.welcome {
  width: 450px;
  height: 520px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  overflow: hidden;
}

/* Bem-vindo à */
.welcome p, .welcome-register p {
  font-weight: 300;
  font-size: 24px;
}

.welcome-register p {
  margin-bottom: 24px;
}

/* He4rt Developers */
.welcome h1 {
  font-size: 48px;
  color: #8743CC;
}

/* Logo da He4rt */
.welcome img {
  width: 415px;
  margin-top: 25px;
}

.welcome-register {
  width: 450px;
  height: 520px;
  padding: 0px 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.welcome-register strong {
  font-size: 36px;
}

.anime-top-to-center{
  animation: top-to-center 1s ease-in-out;
}

.anime-bottom-to-center{
  animation: bottom-to-center 1s ease-in-out;
}

@keyframes top-to-center {
  from { transform: translateY(-100px); }
  to { transform: translateY(0px); }
}

@keyframes bottom-to-center {
  from { transform: translateY(415px); }
  to { transform: translateY(0px); }
}