.welcome {
  width: 450px;
  height: 520px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  overflow: hidden;
}

/* Bem-vindo à */
.welcome p {
  font-weight: 300;
  font-size: 24px;
}

/* He4rt Developers */
.welcome h1 {
  font-size: 48px;
  color: #8743CC;
}

/* Logo da He4rt */
.welcome img {
  width: 415px;
  margin-top: 25px;
}

.welcome-register {
  width: 450px;
  height: 520px;
  padding: 40px 50px 0px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.welcome-register h2 {
  font-size: 24px;
}

.welcome-register span {
  font-size: 36px;
  font-weight: bold;
}

.anime-top-to-center{
  animation: top-to-center 1s ease-in-out;
}

.anime-bottom-to-center{
  animation: bottom-to-center 1s ease-in-out;
}

@keyframes top-to-center {
  from { transform: translateY(-120%); }
  to { transform: translateY(0%); }
}

@keyframes bottom-to-center {
  from { transform: translateY(120%); }
  to { transform: translateY(0%); }
}